<style>
    .navbar{
        color: black;   
        
      }
    
    .navbar-brand{
        position: absolute;
        padding-top: 20px;
      }
    .table{
      display: table;
      padding-left: 40px;
      margin: 0px;
    }
    
    ul.navbarUl li{
      float: left;
      display: inline;
      
      
    }
    ul.navbarUl {
        min-width: 696px;
        list-style: none;
      padding-top: 20px;
      position: relative;
      }
    a{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: 600;
    }
    </style>
    
    
    <nav class="navbar">
        <a class="navbar-brand" href="#">Stocks</a>  
        <div class="table">
          <ul class="navbarUl">
            <li>
              <a class="nav-link" href="">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a class="nav-link" href="">ALL Shares</a>
            </li>
            <li>
              <a class="nav-link" href="">Market Depth</a>
            </li>
            <li>
              <a class="nav-link" href="">Watch List</a>
            </li>
          </ul>
         
        </div>
      </nav>
    
      <hr style="background-image: linear-gradient(10deg,#ff8a00,#e52e71); height: 2px;">
      